*{
    font-style: roboto;
}

body{
    margin: 0px;
}

.header{
    display: flex;
    background-color: #1f2937;
    margin: 0;
}

.logo{
    display: flex;
    align-items: center;
    padding: 18px;
    font-size: 24px;
    color:  #F9FAF8;
    margin-right: auto;
    margin-left: 120px;
}

a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 20px;
    
}
.links{
    display: flex;
    align-items: center;
    margin-right: 120px;
}


ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}

.body{
    display: flex;
    flex-direction: column;
    border: 5px black;
}

.section{
    display: flex;
    height: 300px;
    border-style: solid;
}

