*{
    font-style: roboto;
}

.header{
    display: flex;
    background-color: #1f2937;
}

li{
    display: flex;
    color: white;
    
}

a{
    display: flex;
    color: white;
    text-decoration: none;
    
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}