*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
    
}

.header{
    display: flex;
    background-color: #1f2937;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    
}

.logo{
    display: flex;
    align-items: center;
    padding: 18px;
    font-size: 24px;
    color:  #F9FAF8;
    margin-right: auto;
    margin-left: 100px;
}

a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 20px;
    
}
.links{
    display: flex;
    align-items: center;
    margin-right: 100px;
}


ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}

.body{
    display: flex;
    flex-direction: column;
    border: 5px black;
}

.section{
    display: flex;
    height: 350px;
}

.one{
    display: flex;
    background-color: #1f2937;
    padding: 120px;
    height: auto;
    
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    color: white;
    width: 50%;
    padding-right: 20px;
    margin-left: 100px;
    
}

.upper{
    font-size: 48px;
    text-wrap: wrap;
    font-weight: 700;
}

.middle{
    font-size: 18px;
    text-wrap: wrap;
    
}

.signup-button{
    padding: 10px;
    background-color: #3882F6;
    color: white;
    width: 120px;
    border-radius: 8px;
    border-style: none;
    margin-right: auto;
    margin-top: 10px;
}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgba(165, 165, 165, 0.767);
    color: white;
    margin-right: 100px;
}

.two{
    display: flex;
    flex-direction: column;
    
}

.header-two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    font-size: 36px;
    font-weight: 800;
}

.container-two{
    display: flex;
    justify-content: center;
    height: 80%;
    
    
}

.sub{
    width: 15%;
}

.img{
    height: 50%;
    border-style: solid;
    border-radius: 15px;
    border-width: 4px;
    border-color: #3882F6;
    margin: 20px
}

.imgtext{
    height: 50%;
    text-align: center;
    
}

.three{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote{
    padding-left: 20%;
    padding-right: 20%;
    font-size: 36px;
    color: #1F2937;
}
.thor{
    padding-right: 20%;
    align-self: flex-end;
}

.four{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.signup{
    display: flex;
    color: white;
    margin: 50px;
    height: 100px;
    width: 600px;
    background-color: #3882F6;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}

.header-four{

}

.text-four{

}

.right{
    border-style: solid;
    border-color: white;
    border-width: 8px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

